name: Deploy to Production

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Deploy to server
        run: |
          cd /var/www/hello_world
          git fetch origin
          git reset --hard origin/master
